# Python 관련
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# 환경 설정 파일
.env
*.env.local

# 데이터베이스 파일
*.sqlite

# 로그 파일
*.log

# Jupyter Notebook 체크포인트
.ipynb_checkpoints

# IDE 관련 파일
.vscode/
.idea/

# 빌드 결과물
build/
dist/
*.egg-info/
*.eggs/

# 기타
data/
frontend/.env.local


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
**/.pnp.js
**/.yarn/install-state.gz

# testing
**/coverage

# next.js
**/.next/
**/.out/

# production
**/.build

# misc
**.DS_Store
**/*.pem

# debug
**/*.npm-debug.log*
**/*.yarn-debug.log*
**/*.yarn-error.log*

# local env files
**/.env*.local

# vercel
**/.vercel

# typescript
**/*.tsbuildinfo
**/*.next-env.d.ts
