aiodns==2.0.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.13.5
brotlipy==0.7.0
# cchardet==2.1.7  # C 확장 빌드 문제로 제거, charset-normalizer 사용
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
feedparser==6.0.11
feedsearch==1.0.12
feedsearch-crawler==1.0.3
frozenlist==1.7.0
idna==3.10
iso8601==2.1.0
lxml==6.0.1
markupsafe==3.0.2
multidict==6.6.4
packaging==25.0
pip==25.2
pipdeptree==2.28.0
propcache==0.3.2
pycares==4.10.0
pycparser==2.22
python-dateutil==2.9.0.post0
reader==3.17
requests==2.32.5
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.8
typing-extensions==4.15.0
urllib3==2.5.0
# uvloop==0.15.3  # C 확장 빌드 문제로 제거, asyncio 사용
w3lib==1.22.0
werkzeug==2.3.8
yarl==1.20.1
